@keyframes slide-from {
  from {
    height: 0;
  }
  to {
    height: 310px;
  }
}

.category-menu {
  display: none;
  color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  background-color: #3b3b3b;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 127%;
  left: 0%;
  height: 0;
  align-items: flex-start;
  overflow: hidden;
  z-index: 10;

  &.show {
    display: flex;
    animation: slide-from 0.5s linear forwards;
  }

  .category-list {
    cursor: pointer;

    .category-item {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px 11px;

      svg {
        margin-left: 15px;
        width: 15px;
        height: 15px;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: #575757;
      }
    }
  }
  .subcategory-menu {
    .subcategory-list {
      cursor: pointer;
      display: flex;
      flex-direction: column;

      .subcategory-item {
        width: 340px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 25px;

        &:hover {
          background-color: #575757;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .category-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    overflow-y: auto;
    z-index: 101;
    background-color: #fff;
    color: #000;
    transition: transform 0.3s ease;

    .category-btn {
      background-color: transparent;
      svg {
        width: 20px;
        height: 20px;
        fill: #008ec8;
      }
    }

    &.hide {
      transform: translateX(-100%);
    }

    &.show {
      animation: none;
      transform: translateX(0%);
    }

    .category-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }

    .category-list {
      flex: 1;
      width: 100%;
      padding: 0 10px;
      font-size: 18px;

      .category {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #eaedf7;
      }
    }

    .subcategory-menu {
      position: fixed;
      top: 0;
      left: 0;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: #fff;
      gap: 0;
      transition: transform 0.3s ease;

      &.hide {
        transform: translateX(-100%);
      }

      &.show {
        transform: translateX(0%);
      }

      .subcategory-header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      .subcategory-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex: 1;
        font-size: 18px;
        overflow-y: auto;

        .subcategory-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-align: left;
          border-top: 1px solid #eaedf7;
          width: 100%;
          padding: 10px 20px;

          &:hover {
            background-color: #eaedf7;
          }
        }
      }
    }
  }
}
